@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	outline:none !important;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
body {
	font-family: "Times New Roman", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background:#e2e2e2;
	height:100% !important;
	position:relative;
	font-size:24px ;
}
.red, .red a {
	color:red;
}
.select2-container--open {
	z-index: 10000;
}
.main-blok {
	/*min-height:850px;*/
	min-width:850px;
	background:rgba(255,255,255,1.00);
	margin:auto;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.header-blok {
	min-height:250px;
	background-image: url(../images/header-gradient.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
.logotip {
	text-align:center;
	padding-top:35px;
}
.header-blok {
	position:relative;
}
.lozung {
	font-size:24px;
	color:#7a8b99;
	font-family:"Arial Black", sans-serif;
	position:absolute;
	top:10px;
	left:213px;
}
.seif {
	position:absolute;
	top:15px;
	left:-60px;
}
.carusel {
    position: absolute;
    width: 770px !important;
    left: 105px;
    top: 55px;
}
.carusel-item {
	width:140px;
	height:140px;
}
.carusel-item-blok {
	background:rgba(255,255,255,1.00);
	width:170px;
	height:125px;
	padding:10px;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
	border:2px solid #7a8b99;
	box-shadow:4px 4px 0 #7a8b99;
}
.carusel-item a{
	display: block;
	vertical-align:middle;
	width:100%;
	height:100%;
	word-wrap: break-word;
	font-size:15px;
	text-align:center;
	padding:0 0 0 0;
	font-weight: 600;
	text-transform:uppercase;
	color:#7a8b99;
	-moz-transform: translateX(0px);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transform: translateX(0px);
    -o-transition: all 0.2s ease-in-out;
}
.carusel-item a:hover, .carusel-item a:focus{
	color:#4BA1DF;
	text-decoration:none;
	-moz-transform: translateX(0px);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transform: translateX(0px);
    -o-transition: all 0.2s ease-in-out;
}
.user-bar {
	position:absolute;
	top: 210px;
    left: 140px;
}
.sity-bar {
	position:relative;
}
.sity-link {
	color:#4d739e;
	font-size:16px;
	cursor:pointer;
}
.sity-spisok {
	position:absolute;
	top:30px !important;
	width:600px;
	height:auto;
	background:#FFFFFF;
	padding:15px !important;
	border:0 !important;
	box-shadow: 0 3px 3px rgba(0,0,0,0.30) !important;
	border-radius:2px !important; 
	-webkit-border-radius:2px !important; 
	-moz-border-radius:2px !important; 
	-khtml-border-radius:2px !important;
}
.sity-spisok > ul {
	position: relative;
	display:block;
	width:100%;
	-webkit-column-width: 120px;
    -moz-column-width: 120px;
    column-width: 120px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}
.sity-spisok > ul:before {
	content:'';
	display:block;
	position:absolute;
	top:-22px;
	border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
}
.sity-spisok > ul > li {
	display:block;
	padding:0 10px 0 10px;
}
.sity-spisok > ul > li:hover, .sity-spisok > ul > li:after {
	color:rgba(68,139,213,1.00);
	cursor:pointer;
}
.fa-sort-desc {
	color: rgba(0,0,0,1.00);
    font-size: 11px !important;
    position: absolute;
    top: 4px;
    right: -15px;
}
.search-bar {
	position:absolute;
	top: -4px;
    left: 160px;
}
.search-bar-blok input {
	width:330px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-bar-blok button {
	background: rgba(255,255,255,1.00);
	border:0;
	position:absolute;
	top: 6px;
    left: 308px;
}
.kabinet {
	position: absolute;
    top: 2px;
    left: 517px;
    width: 350px;
    font-size: 16px;
    font-weight: 600;
}
.kabinet a{
	color: #4d739e;
}
.kabinet a:hover{
	color: #61a2eb;
	text-decoration: none;
}
.kabinet a:hover{
	color: #61a2eb;
	text-decoration: none;
}
.kroshki{
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.kroshki .breadcrumb{
	/*margin-left: 260px;*/
	line-height: 1.42857143 !important;
}
.margin-breadcrumb {
	margin-left: 5px;
}
.kroshki .breadcrumb a{
	font-size: 12px;
	color: #999999;
}
.main-kontent-left {
	float:left;
	width:15%;
	margin-top:-5px;
	position:relative;
	min-height: 650px;
}
.main-kontent-left:after {
	content:'';
	display:block;
	width:19px;
	height:414px;
	background:url(../images/left-ten.png) left top;
	position:absolute;
	right:-19px;
	top:0;
}
.main-kontent-center {
	float:left;
	width:84%;
}
.main-kontent-center-left {
	float:left;
	width:80%;
	position:relative;
}
.main-kontent-center-right {
	float:left;
	width:20%;
	font-size:22px;
}
.left-kolon-title {
	padding:10px 15px;
	background:#50709a;
	color:rgba(255,255,255,1.00);
	text-transform:uppercase;
	font-size:16px;
	font-weight:600;
}
.left-kolon-text {
	padding:15px;
}
.left-kolon-text li{
	display: block;
    margin-bottom: 12px;
    padding: 0 0 0 18px;
    background-image: url(../images/link-mapker.png);
    background-position: left 5px;
    background-repeat: no-repeat;
}
.left-kolon-text li a{
	display:block;
	color:#4d739e;
	font-size:16px;
	text-transform:uppercase;
	font-weight:600;
}
.main-kontent-center-left {
	padding:15px 25px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 200%;
}
.main-kontent-center-left-title {
	font-size:150%;
	font-weight:bold;
	margin-bottom:10px;
	color:#000;
	margin: 0 0 0 50px;
}
.main-kontent-center-left-text {
	color:#000;
	margin-bottom:15px;
	text-align:justify;
	/*overflow-y: scroll;*/
	padding:0 15px 15px 0;
	/*height:500px;*/
}
.main-kontent-center-left-text label {
	font-size: 100%;
}
.main-kontent-center-right {
	/*margin-top:30px;*/
}
.edit-font-icon {
	background:url(../images/edit-font-icon.png) no-repeat center center;
	width:33px;
	height:33px;
	position:absolute;
	top: 20px;
    right: 22px;
	cursor:pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
     opacity: 0.8;
}
.edit-font-icon:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
     opacity: 1;
}
.footer {
	background:#e4e4e4 !important;
	color:rgba(53,53,53,1.00) !important;
}
.footer-blok {
	padding:30px !important;
}
.footer-blok-right {
	text-align:right !important;
}
.kontent-left-blok {
	margin-top:15px;
	width: 79%;
	float: left;
	min-height: 650px;
}
.button-style {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #65829e));
	background:-moz-linear-gradient(top, #63b8ee 5%, #65829e 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #65829e 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #65829e 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #65829e 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #65829e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#65829e',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #619ce8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #374a5e;
}
.button-style:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #65829e), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #65829e 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #65829e 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #65829e 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #65829e 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #65829e 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#65829e', endColorstr='#63b8ee',GradientType=0);
	background-color:#65829e;
}
.button-style:active {
	position:relative;
	top:1px;
}
.kontent-left-blok {
	/*overflow-y: scroll; */
	padding:15px;
	/*height:1050px; */
	margin-bottom:30px;
}
.button-blok {
	padding:0 15px 0 0 !important;
}
.button-blok-pagination {
	padding:0 0 0 15px !important;
}
.button-blok-pagination span{
	float:right;
}
.pagination-blok > ul > li{
	float:left;
	display:block;
	margin-left:10px;
}
.pagination-blok > ul > li.active > a{
	text-decoration:none;
	background:#7a8b99 !important;
}
.pagination-blok > ul > li > a{
	display:block;
	padding:2px 8px;
	background:#a2b5c4;
	color:rgba(255,255,255,1.00);
	border-radius:2px; 
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	-khtml-border-radius:2px;
}
.pagination-blok > ul > li > a:hover, .pagination-blok > ul > li > a:focus{
	text-decoration:none;
	background:#7a8b99;
}
.soobsheniya-chislo {
	color:#4d739e;
	padding:2px 0 0 0;
}
.soobshenie {
	background: rgb(247,247,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 94%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 94%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
	-khtml-border-radius:6px;
	border:1px solid #D4D4D4;
	padding:20px 5px 20px 5px;
	margin:10px 0 10px 0;
}
.soobshenie-text-title {
	color:#4d739e;
	font-size:150%;
	font-weight:600;
	/*margin-left: 30px;*/
}
.soobshenie-text-title:hover{
	color:#778DC3;
	text-decoration:none;
}
.soobshenie-text-title a{
	color:#778DC3;
	text-decoration:none;
	cursor: pointer;
}
.soobshenie-text-title a:hover{
	text-decoration:none;
}
.soobshenie-text-date {
	color:rgba(151,151,151,1.00);
	font-size:70%;
	margin-bottom:5px;
	/*margin-left: 30px;*/
}
.soobshenie-text-edit {
	color:rgba(151,151,151,1.00);
	font-size:15px;
	margin-bottom:5px;
}
.soobshenie-text-edit-link {
	float: right;
	font-size: 15px;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.soobshenie-text-kontent {
	color:rgba(0,0,0,1.00);
	margin-left: 10px;
}
.soobshenie-text-kontent ul {
	margin-left: 30px;
}
.soobshenie-image{
	border-right:1px solid #D4D4D4;
}
.soobshenie-image img{
	border:1px solid #D4D4D4;
	border-radius:2px; 
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	-khtml-border-radius:2px;
	margin-bottom:10px;
}
.soobshenie-name {
	font-size:20px;
	font-weight:600;
	color:rgba(0,0,0,1.00);
}
.soobshenie-rega, .soobshenie-chislo {
	font-size:20px;
	color:rgba(170,170,170,1.00);
}
.center-right-kolon {
	margin-top:20px;
	text-align:left;
}
.forum {
	background:#f6f6f6;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
	-khtml-border-radius:6px;
	border:1px solid #D4D4D4;
	overflow:hidden;
	margin-bottom:18px;
}
.forum-title {
	color:rgba(0,0,0,1.00);
	font-size:30px;
	font-weight:600;
	text-shadow:0 2px 1px rgba(255,255,255,1.00);
	padding:15px 20px 15px 20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 40%, rgba(241,241,241,1) 44%, rgba(219,219,219,1) 61%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(241,241,241,1) 44%,rgba(219,219,219,1) 61%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(241,241,241,1) 44%,rgba(219,219,219,1) 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}
.forum-text {
	padding:15px 15px 10px 20px;
}
.forum-tema {
	margin-bottom:15px;
}
.forum-tema a{
	font-size:25px;
	font-weight:600;
}
.forum-tema a:hover{
	font-size:25px;
	color:rgba(92,160,209,1.00);
	text-decoration:none;
}
.w15 {
	width: 14% !important;
}
.w50 {
	width: 50% !important;
}
.w75 {
	width: 75% !important;
}
.w85 {
	width: 85% !important;
}
.w100 {
	width: 100% !important;
}
.bordered {
	border-radius: 31px 31px 31px 31px;
	-moz-border-radius: 31px 31px 31px 31px;
	-webkit-border-radius: 31px 31px 31px 31px;
	border: 3px solid #7a8b99;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.ta_center {
	text-align:center;
}
.kontent-left-blok-text {
	margin: 0 20px;
	font-size: 27px;
}
.bigger {
	font-size: 140%;
}
.lower {
	font-size: 90%;
}
.wysiwyg-editor {
	color:#000;
}
.hidden {
	display: none;
}
form input, form select {
	font-size: 100% !important;
}
.link_hint {
	font-size: 16px;
	color:#0287D0 !important;
	text-decoration: underline !important;
}
.loading_btn {
	font-size: 16px;
}
.uploaded_files {
	font-size: 16px;
	color:#0287D0 !important;
	text-decoration: none !important;
	display: inline !important;
}
.uploaded_files_input {
	font-size: 18px !important;
	color:#fff;
	text-decoration: none !important;
	display: inline !important;
}
.post_images {
	height: 100px;
	margin: 5px;
	padding: 5px;
}
.red, .red a {
	color:#FE0101 !important;
	text-decoration: none !important;
}
.soobshenie-text-kontent .post_images {
	display: inline flex;
}
.plus_tooltip {
	font-size:xxx-large;
	color: blue !important;
}
.minus_tooltip {
	font-size:xx-large;
}